<h1>JerbyJerbs: Jobs</h1>

<table>
  <tr>
    <th>...</th>
    <th>...</th>
  </tr>

  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.poster %></td>
      <td><%= job.location %></td>
    </tr>
  <% end %>
</table>
