// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jobs-main {
  display: table;
  margin: 0 auto;
}

.jobs-main table td {
  padding: 5px 0px;
}

.jobs-main table label {
  display: block;
  width: 100px;
}

.jobs-main table .wide-input,
.jobs-main table select {
  width: 200px;
  border: 1px solid;
  border-radius: 3px;
  background: transparent;
}

.jobs-main .button-cell {
  text-align: right;
}
